<header>
    <h2>Best Books!</h2>
    <nav>
        <div class="icon-menu">
            <ul>
                <li class="tab">Add new Book</li>
                <li class="tab">Search for Book</li>
            </ul>
        </div>

    </nav>
</header>