<header>
    <a href="/"><h1>Best Books!</h2></a>
    <nav>
        <div class="icon-menu">
            <ul>
                <a href="/"><li class="tab"> Home </li></a>
                <a href="/add-book"><li class="tab"> Add New Book </li></a>
                <a href="/search-book"><li class="tab"> Search For Book </li></a>
            </ul>
        </div>
    </nav>
</header>
