<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book App</title>
        <link rel="stylesheet" href="/styles/base.css">
    </head>
    <body>
        <% books.forEach( book => { %>
            <img src="<%= book.image_url %>">
            <p><%= book.title %></p>
            <p><%= book.author %></p>
        <% }); %>

        <p> Number of books: <%= books.length %> </p>
    </body>
</html>
