<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
  <% include ../partials/header %>
  <div class="page-type">
    <h2>Search by Title or Author</h2>
  </div>
  <main>

    <form class="book-form" method="GET" action="/results">
      <input type="text" name="search" placeholder="Enter a title or author" required>

      <label class="radio" for="title">Title
        <input type="radio" class="radio-button" id="title" name="by" value="title">
        <span class="checkmark"></span>
      </label>
      <label class="radio" for="author">Author
        <input type="radio" class="radio-button" id="author" name="by" value="author">
        <span class="checkmark"></span>
      </label>

      <button type="submit">Search the Google Books API</button>
    </form>

  </main>

  <% include ../partials/footer %>

</body>

</html>
