body {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    background-color: rgb(100, 33, 59);
    color: white;
    padding: 10px;
    font-size: 1.2em;
    height: 50px;
    line-height: 50px;
}

h1 {
    color: white;
}

.page-type {
    background-color: rgb(167,71,78);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display: block;
}

main {
    padding: 40px 20px;
    background-color: rgb(230, 161, 110);
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

h3 {
    margin: 20px;
    font-size: 20px;
}

.book-card {
    background-color: rgb(236,209,153);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 7px rgb(100, 33, 59);
}

.book-card p {
    margin: 10px;
}

.book-card img {
    border: 5px solid rgb(248, 241, 230);
}

.title {
    color: rgb(100, 33, 59);
    font-weight: bold;
}

.author, .isbn {
    color: rgb(167,71,78);
    font-style: italic;
}


.description {
    background-color: rgb(248, 241, 230);
    padding: 20px;
    line-height: 20px;
    text-align: left;
}

button {
    background-color: rgb(167, 71, 78);
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    min-width: 20%;
    border-color: rgb(167, 71, 78);
}

button:hover {
    border-color: darkslateblue;
    background-color: darkslateblue;
}

.icon-menu {
    font-size: 2em;
    float: right;
    top: -45px;
    position: relative;
}

.tab {
    font-size: 0.5em;
}

nav ul {
    display: none;
    padding: 0;
    list-style: none;
    clear: both;
    position: absolute;
    width: 170px;
    top: 35px;
    right: -5px;
    border: 1px solid white;
}

nav:hover ul {
    display: block;
}

.tab {
    background-color: wheat;
    color: rgb(100, 33, 59);
    line-height: 30px;
    padding: 10px;
    font-size: 0.4em;
    font-weight: bold;
    font-family: sans-serif;
    border: 1px solid white;
}

.tab:hover {
    background-color: rgb(167, 71, 78);
    color: white;
}

a {
    text-decoration: none;
}

input {
    display: block;
    width: 80%;
    height: 30px;
    margin: 0px auto 20px auto;
}

textarea {
    display: block;
    width: 80%;
    height: 100px;
    margin: 20px auto;
}

footer {
    background-color: rgb(230, 161, 110);
    text-align: center;
    padding-bottom: 10px;
}

footer span {
    font-size: 10px;
}

#success-message {
    color: rgb(100, 33, 59);
    position: relative;
    bottom: 20px;
}

