header {
    background-color: rgb(100, 33, 59);
    color: white;
    height: 70px;
    line-height: 50px;
    padding: 10px;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 32px;
}

nav ul {
    border: 1px solid white;
    clear: both;
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    right: -5px;
    top: 35px;
    width: 170px;
    z-index: 10;
}

nav:hover ul {
    display: block;
}

.book-card {
    background-color: rgb(236,209,153);
    box-shadow: 0 0 7px rgb(100, 33, 59);
    margin-bottom: 20px;
    padding: 20px;
}

.book-card p {
    margin: 10px;
}

.book-card img {
    border: 5px solid rgb(250, 240, 230);
}

.title {
    color: rgb(100, 33, 59);
    font-weight: bold;
}

.author, .isbn {
    color: rgb(167,71,78);
    font-style: italic;
}

.description {
    background-color: rgb(250, 240, 230);
    line-height: 20px;
    padding: 20px;
    text-align: left;
}

footer {
    background-color: rgb(230, 161, 110);
    padding-bottom: 10px;
    text-align: center;
}

footer span {
    font-size: 10px;
}
