.icon-menu {
    float: right;
    font-size: 40px;
    position: relative;
    bottom: 55px;
}

.tab {
    background-color: rgb(236,209,153);
    border: solid white;
    border-width: 0px 2px 2px 2px;
    color: rgb(100, 33, 59);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    padding: 10px;
}

.tab:hover {
    background-color: rgb(167,71,78);
    color: white;
}

.page-type {
    background-color: rgb(167,71,78);
    color: white;
    display: block;
    font-size: 18px;   
    height: 50px;
    line-height: 52px;
    padding-left: 50px;
    text-align: center;
}

input {
    display: block;
    font-size: 14px;
    height: 40px;
    margin: 0px auto 20px auto;
    padding-left: 5px;
    width: 80%;
}

textarea {
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    height: 160px;
    margin: 20px auto;
    padding-top: 8px;
    padding-left: 5px;
    width: 80%;
}

button {
    background-color: rgb(167, 71, 78);
    border-color: rgb(167, 71, 78);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    min-width: 20%;
    padding: 10px 20px;
}

button:hover {
    background-color: darkslateblue;
    border-color: darkslateblue;
}

.success-message {
    bottom: 20px;
    color: rgb(100, 33, 59);
    position: relative;
}

section {
    padding: 20px;
    text-align: center;
}

section h3 {
    font-size: 20px;
    margin: 20px;
}

.radio {
    background-color: rgb(236,209,153);
    box-shadow: 0 0 7px rgb(100, 33, 59);
    cursor: pointer;
    color: rgb(100, 33, 59);
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    line-height: 50px;
    margin: 20px auto;
    padding-left: 48px;
    position: relative;
    text-align: left;
    width: 80%;
}

.radio-button {
    display: none;
}

.checkmark {
    background-color: white;
    border-radius: 50%;
    height: 21px;
    left: 14px;
    position: absolute;
    top: 14px;
    width: 21px;
}

.radio:hover input ~ .checkmark {
    background-color: lightgrey;
}

.radio input:checked ~ .checkmark {
    background-color: slateblue;
}

.checkmark:after {
    content: '';
    display: none;
    position: absolute;
}

.radio input:checked ~ .checkmark:after {
    display: block;
}

.radio .checkmark:after {
    background-color: white;
    border-radius: 50%;
    height: 7px;
    left: 7px;
    top: 7px;
    width: 7px;
}

.hidden-textarea {
    display: none;
}
