.icon-menu {
    font-size: 2em;
    float: right;
    top: -45px;
    position: relative;
}

.tab {
    background-color: wheat;
    color: rgb(100, 33, 59);
    line-height: 30px;
    padding: 10px;
    font-size: 0.4em;
    font-weight: bold;
    font-family: sans-serif;
    border: 1px solid white;
}

.tab:hover {
    background-color: rgb(167, 71, 78);
    color: white;
}

.page-type {
    background-color: rgb(167,71,78);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    display: block;   
}

input {
    display: block;
    width: 80%;
    height: 30px;
    margin: 0px auto 20px auto;
}

textarea {
    display: block;
    width: 80%;
    height: 100px;
    margin: 20px auto;
}

button {
    background-color: rgb(167, 71, 78);
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    min-width: 20%;
    border-color: rgb(167, 71, 78);
}

button:hover {
    border-color: darkslateblue;
    background-color: darkslateblue;
}

.success-message {
    color: rgb(100, 33, 59);
    position: relative;
    bottom: 20px;
}

section {
    padding: 20px;
    text-align: center;
}

section h3 {
    margin: 20px;
    font-size: 20px;
}
